.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: flex-end; */
    justify-content: center;
    text-align: center;
    max-width: 500px;
    margin-top: 60px;
    /* transform: translate(-50%, -50%); */

    /* width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; */

}