.main-container {
    display: inline-flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 60px;
}

#root {
    text-align: center;
}

form {
    display: flex;
}

form input {
    width: 100%;
}